<h1>Schedules#new</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@circle_event,:url =>{:action =>'create'}) do |f| %>
      <%= f.label :circle_id, "circle_id" %>
      <%= f.collection_select :circle_id, Circle.all, :id, :name %>

      <%= f.label :event_date, "event_date" %>
<div class="controls">
  <%= f.text_field :event_date, 
                   data: { :date_format => 'YYYY/MM/DD hh:mm' }, 
                   :class => 'form-control datetimepicker', 
                   placeholder: 'YYYY/MM/DD hh:mm:ss'
    %>
</div>
      <%= f.label :event_detail, "event_detail" %>
      <%= f.text_field :event_detail %>
      <!--いったん固定値-->
    <input type="hidden" name="circle_event[user_id]" value="1">
    
      <%= f.submit "登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>