<h1>部活動登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@circle) do |f| %>
      <%= f.label :'name', '部活名' %>
      <%= f.text_field :name %>

      <%= f.label :'detail', '活動内容' %>
      <%= f.text_area :detail %>
      
      <%= f.label :'official_flg', 'NB公式' %><br />
      <%= f.select :official_flg, {"公式" => 1, "非公式" => "0"} %>

      <%= f.submit "Create New Circle", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>