<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="col-sm-3 col-md-2 navbar-inner">
        <%= link_to image_tag("top_singeki2.png", alt:"社内部活広報"), root_path %>
      </div>
      <div id="navbar" class="col-sm-9 col-md-10 navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Top", root_path %></li>
          <li><%= link_to "Help", '#' %></li>
          <li><a href="#">Settings</a></li>
        <% if logged_in? %>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>