<ul class="nav nav-sidebar">
  <li class="active"><%= link_to "Top", root_path %></li>
  <li><%= link_to "スケジュール登録", "/schedules/new" %></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="">Nav item again</a></li>
  <li><a href="">One more nav</a></li>
  <li><a href="">Another nav item</a></li>
  <li><a href="">More navigation</a></li>
</ul>