<!DOCTYPE html>
<html>
  <head>
    <title>社内部活広報(仮)！！</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

<%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
<%= render 'layouts/sidebar' %>
        </div>
        <div class="col-sm-9 col-md-10 container main">
//ここに各ページのものが表示される
          <%= yield %>
<%= debug(params) %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
